#eventGrid {
    width: 100%
}

#attendance {
    width: 30em;
    margin: 0em;
}

#attendance button{
    background-color: antiquewhite;
    border-style: solid;
    padding: 3px;
    border-radius: 1px;
    border-color: cadetblue;
}

.comment {
    border-style: solid;
    border-radius: 1px;
    border-color: silver;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.commentReplyButton {
    float: right;
}

.profileIconAndName {
    float: left;
}

.profileName {
    margin-bottom: 0px;
}
.commentValue {
    margin: 1em;
    float: left;
}

.clearfix{
    clear: both;
}
